.header{
    width: 100%;
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(160, 224, 174);
    color: rgb(0, 107, 23);
};


.container-general{

    width: 100%;
    min-height: 200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color:  rgb(0, 107, 23);

};

.main__button{
    width: 150px;
    height: 100px;
}